/* modal window for new inmueble form */
.modal-backdrop.digiallbackdrop {
  opacity: 0.5 !important;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
